body {
    background-color: #fafafa;
}

#timer {
    font-size: 96px;
    text-align: center;
    margin-bottom: 20px;
}

.start-stop-container {
    text-align: center;
}
.start-stop {
    margin-bottom: 20px;
    display: block;
    width: 100%;
}
.start-stop > .start,
.stopped .start-stop .start {
    display: inline-block;
}
.start-stop > .stop,
.stopped .start-stop .stop {
    display: none;
}
.started .start-stop .start {
    display: none;
}
.started .start-stop .stop {
    display: inline-block;
}

#times {
    max-height: 11.5em;
    overflow-y: scroll;
}
#times button.btn-remove {
    margin: 0;
}
#times td.index,
#times td.value,
#times td.date,
#times td.actions {
    width: 5px;
}
#times td.date {
    white-space: nowrap;
}

.col-form-4, .col-form-8 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-form-4 {
    width: 33.333333333%;
}
.col-form-8 {
    width: 66.666666667%;
}
.col-form-offset-4 {
    margin-left: 33.333333333%;
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

#hint {
    display: none;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}
.footer-links {
    padding-left: 0;
    margin-bottom: 20px;
}
.footer-links li {
    display: inline-block;
}
.footer a {
    color: #fff;
}

@media (min-width: 768px) {
    .start-stop {
        display: inline-block;
        width: auto;
    }
    #times {
        max-height: 8.3em;
    }
    #hint {
        display: block;
    }
    .footer {
        text-align: left;
    }
}
