body {
    background-color: #fafafa;
}

#timer {
    font-size: 64px;
    text-align: center;
    margin-bottom: 20px;
}

.start-stop {
    margin-bottom: 20px;
}
.start-stop > .start,
.stopped .start-stop .start {
    display: inline-block;
}
.start-stop > .stop,
.stopped .start-stop .stop {
    display: none;
}
.started .start-stop .start {
    display: none;
}
.started .start-stop .stop {
    display: inline-block;
}

#times {
    max-height: 11.5em;
    overflow-y: scroll;
}
#times button.btn-remove {
    margin: 0;
}
#times td.index,
#times td.value,
#times td.date,
#times td.actions {
    width: 5px;
}
#times td.date {
    white-space: nowrap;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}
.footer-links {
    padding-left: 0;
    margin-bottom: 20px;
}
.footer-links li {
    display: inline-block;
}
.footer a {
    color: #fff;
}

@media (min-width: 768px) {
    #times {
        max-height: 8.3em;
    }
    .footer {
        text-align: left;
    }
}
