body {
    background-color: #fafafa;
}

#timer {
    font-size: 64px;
    text-align: center;
    margin-bottom: 20px;
}

.start-stop {
    margin-bottom: 20px;
}
.start-stop > .start,
.stopped .start-stop .start {
    display: inline-block;
}
.start-stop > .stop,
.stopped .start-stop .stop {
    display: none;
}
.started .start-stop .start {
    display: none;
}
.started .start-stop .stop {
    display: inline-block;
}

#times {
    max-height: 200px;
    overflow-x: scroll;
}
#times button.btn-remove {
    line-height: 0.8;
    margin-left: 5px;
    margin-top: -3px;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}
.footer-links {
    padding-left: 0;
    margin-bottom: 20px;
}
.footer-links li {
    display: inline-block;
}
.footer a {
    color: #fff;
}

@media (min-width: 768px) {
    .footer {
        text-align: left;
    }
}
