.ct-legend {
    position: relative;
    float: right;
    z-index: 10;
    list-style: none;
    display: inline-block;
    border-radius: 2px;
    padding: 0;
}

.ct-legend li {
    position: relative;
    padding-left: 15px;
    margin-left: 12px;
    cursor: pointer;
}

.ct-legend li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
    margin-top: 3px;
}

.ct-legend li.inactive:before {
    background: transparent;
}

.ct-legend.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
}

#ct-stats .ct-legend {
    padding: 5px 15px 5px 5px;
}
#ct-stats .ct-legend li {
    display: inline-block;
}

#ct-categories .ct-legend {
    position: absolute;
    right: -68px;
}
