.card-stats {
    display: none;
}

.ct-series-a .ct-line,
.ct-series-b .ct-line,
.ct-series-c .ct-line,
.ct-series-d .ct-line {
    /* Control the thickness of your lines */
    stroke-width: 2px;
}

.ct-label {
    color: rgba(0,0,0,.87);
    font-size: 0.67rem;
}

#ct-stats .ct-series-a .ct-line {
    /* Set the colour of this series line */
    stroke: #E8EAF6;
}
#ct-stats .ct-legend .ct-series-0:before {
    background-color: #E8EAF6;
    border-color: #E8EAF6;
}

#ct-stats .ct-series-b .ct-line {
    /* Set the colour of this series line */
    stroke: #448AFF;
}
#ct-stats .ct-legend .ct-series-1:before {
    background-color: #448AFF;
    border-color: #448AFF;
}

#ct-stats .ct-series-c .ct-line {
    /* Set the colour of this series line */
    stroke: #69F0AE;
}
#ct-stats .ct-legend .ct-series-2:before {
    background-color: #69F0AE;
    border-color: #69F0AE;
}

#ct-stats .ct-series-d .ct-line {
    /* Set the colour of this series line */
    stroke: #E040FB;
}
#ct-stats .ct-legend .ct-series-3:before {
    background-color: #E040FB;
    border-color: #E040FB;
}

#ct-stats .ct-grid {
    stroke: rgba(255,255,255,.2);
    stroke-width: 1px;
    stroke-dasharray: 0;
}
#ct-stats .ct-label {
    color: rgba(255,255,255,.8);
}

/*
 * Categories
 */
#stats-categories {
    display: inline-block;
    width: 160px;
    margin-right: 75px;
}
#ct-categories {
    position: relative;
}

.ct-series-a .ct-slice-donut {
    stroke: #448AFF;
}
#ct-categories .ct-legend .ct-series-0:before {
    background-color: #448AFF;
    border-color: #448AFF;
}

.ct-series-b .ct-slice-donut {
    stroke: #69F0AE;
}
#ct-categories .ct-legend .ct-series-1:before {
    background-color: #69F0AE;
    border-color: #69F0AE;
}

.ct-series-c .ct-slice-donut {
    stroke: #E040FB;
}
#ct-categories .ct-legend .ct-series-2:before {
    background-color: #E040FB;
    border-color: #E040FB;
}

.ct-series-d .ct-slice-donut {
    stroke: #FF5252;
}
#ct-categories .ct-legend .ct-series-3:before {
    background-color: #FF5252;
    border-color: #FF5252;
}

.ct-series-e .ct-slice-donut {
    stroke: #FFAB40;
}
#ct-categories .ct-legend .ct-series-4:before {
    background-color: #FFAB40;
    border-color: #FFAB40;
}

/*
 * Weekdays
 */
#stats-weekdays {
    display: inline-block;
    position: absolute;
    height: 100px;
    right: 16px;
    left: 255px;
    bottom: 16px;
}

#ct-weekdays {
    height: 100%;
}

#ct-weekdays .ct-grids {
    display: none;
}

#ct-weekdays .ct-series .ct-bar {
    stroke-width: 32px;
    stroke: #448AFF;
}

.ct-legend {
    position: relative;
    float: right;
    z-index: 10;
    list-style: none;
    display: inline-block;
    border-radius: 2px;
    padding: 0;
    margin: 0;
}

.ct-legend li {
    position: relative;
    padding-left: 15px;
    margin-left: 12px;
    cursor: pointer;
}

.ct-legend li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
    margin-top: 3px;
}

.ct-legend li.inactive:before {
    background: transparent;
}

.ct-legend.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
}

#ct-stats .ct-legend {
    padding: 5px 15px 5px 5px;
}
#ct-stats .ct-legend li {
    display: inline-block;
}

#ct-categories .ct-legend {
    position: absolute;
    right: -68px;
}
