.card-timer {
    display: none;
}

button:focus {
    background-color: #eee;
}
.waves-effect.waves-indigo .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
    background-color: rgba(63, 81, 181, 0.65);
}
.card-timer .card-content {
    padding: 0;
}
.start-stop-container .start span,
.start-stop-container .stop span {
    font-size: 18px;
}
#times button.btn-remove {
    margin: 0;
}
#timer-container {
    margin-top: -17px;
    text-align: center;
}
#timer-display {
    font-size: 96px;
}
