html,
body {
    font-family: "Roboto-Light", sans-serif;
}
body {
    background-color: #fafafa;
}

.material .card-stats .card-image,
.material .card-timer .card-image {
    background-color: #283593;
    color: rgba(255,255,255,0.84);
}

.material .card-stats .card-title,
.material .card-timer .card-title {
    position: initial;
}

#ct-stats .ct-legend {
    background: #1A237E;
    color: rgba(255,255,255,0.84);
}

.stat .label.label-success {
    background-color: #cecece;
}

/* Buttons */
.material .btn:not(.btn-raised).btn-primary,
.material .input-group-btn .btn:not(.btn-raised).btn-primary {
    color: #5C6BC0;
}