body {
    background-color: #fafafa;
}

/*
 * Navigation bar
 */
.material nav {
    /*background-color: #3F51B5;
    color: rgba(255,255,255,0.84);*/
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: none;
}
.material nav .brand-logo,
.material nav ul a {
    color: rgba(255,255,255,.84);
}


.material .navbar .dropdown-menu .active>a,
.material .navbar.navbar-default .dropdown-menu .active>a {
    background-color: #3F51B5;
    color: rgba(255,255,255,.84);
}

#active-game > span,
#results-button > span,
#config-button > span {
    display: none;
}

.material .card-stats .card-image,
.material .card-timer .card-image {
    background-color: #283593;
    color: rgba(255,255,255,0.84);
}

.material .card-stats .card-title,
.material .card-timer .card-title {
    position: initial;
}

#ct-stats .ct-legend {
    background: #1A237E;
    color: rgba(255,255,255,0.84);
}

.stat .label.label-success {
    background-color: #cecece;
}

/* Buttons */
.material .btn:not(.btn-raised).btn-primary,
.material .input-group-btn .btn:not(.btn-raised).btn-primary {
    color: #5C6BC0;
}