html,
body {
    overflow-y: visible;
    height: 100%;
}

.container .credit {
    margin: 20px 0;
}

.btn-small {
    line-height: 20px;
    height: 20px;
    padding: 0 1.5rem;
}
.condensed th,
.condensed td {
    padding: 3px 5px;
}

.card .card-title {
    font-size: 20px;
}
.relative {
    position: relative;
}

.achievement {
    display: inline-block;
    margin-left: -30px;
    bottom: 12px;
}
.achievement > span {
    z-index: 9999;
}

.start-stop-container {
    text-align: center;
}
.start-stop-container > button {
    margin: 0;
}
.start-stop {
    display: block;
    width: 100%;
}
.start-stop > .start,
.stopped .start-stop .start {
    display: inline-block;
}
.start-stop > .stop,
.stopped .start-stop .stop {
    display: none;
}
.started .start-stop .start {
    display: none;
}
.started .start-stop .stop {
    display: inline-block;
}

.template {
    display: none;
}
.results-dialog .modal-dialog,
.results-dialog .modal-content {
    height: calc(100% - 60px);
}

.modal-content .modal-body {
    padding-bottom: 60px;
}
.modal-content .modal-footer {
    padding: 15px;
}
.modal-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

.results-dialog .modal-body {
    /* 100% = dialog height, 110px = header + footer */
    max-height: calc(100% - 110px);
    padding-bottom: 0;
}

.card-image .btn-group {
    margin: -2px 1px 0 1px;
}

.col-form-4, .col-form-8 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-form-4 {
    width: 33.333333333%;
}
.col-form-8 {
    width: 66.666666667%;
}
.col-form-offset-4 {
    margin-left: 33.333333333%;
}

.list-group .list-group-item {
    padding: 0;
}
.list-group .list-group-item .row-action-primary,
.list-group .list-group-item .row-picture {
    padding-right: 8px;
}
.list-group-item-heading {
    margin-bottom: 0;
}
.list-group .list-group-item .row-content {
    min-height: 56px;
}
.list-group .list-group-item .row-content .action-secondary {
    top: 24px;
}
.list-group .list-group-separator {
    margin-top: 0;
}
.list-group .list-group-separator:before {
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
}

.label {
    font-size: 100%;
    background: #304ffe;
    color: #f5f5f5;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 2px;
}
.label-success {
    background: #00c853;
}

.sub.list-group-item {
    display: inline-block;
    padding: 5px 10px;
}
.sub.list-group-item .value {
    font-weight: bold;
}

#stats .list-group-item {
    float: left;
    padding: 5px 10px;
    width: 33.333%;
}
#stats .stat {
    display: none;
}
.checkbox > label {
    white-space: nowrap;
}
.picker.picker-dialog {
    z-index: 9999;
}

#export-download,
#import-error {
    display: none;
}

#hint {
    display: none;
}

#footer {
    background-color: #eee;
    height: 60px;
    text-align: center;
}
#footer a {
    color: #0088cc;
}
