html,
body {
    overflow-y: visible;
    height: 100%;
}
body {
    background-color: #fafafa;
}

#wrapper {
    padding-top: 70px; /* navbar-fixed-top */
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
#wrapper > .container {
    padding-bottom: 60px;
}
.container .credit {
    margin: 20px 0;
}

.navbar .navbar-brand {
    background: url(../img/icon-128.png) no-repeat left center;
    background-size: 28px;
    margin-left: 10px;
}

#timer {
    font-size: 96px;
    margin-top: -10px;
}

.start-stop-container {
    text-align: center;
}
.start-stop {
    display: block;
    width: 100%;
}
.start-stop > .start,
.stopped .start-stop .start {
    display: inline-block;
}
.start-stop > .stop,
.stopped .start-stop .stop {
    display: none;
}
.started .start-stop .start {
    display: none;
}
.started .start-stop .stop {
    display: inline-block;
}

.panel-times {
}

#times {
    max-height: 11.5em;
    overflow-y: scroll;
}
#times button.btn-remove {
    margin: 0;
}
#template {
    display: none;
}
#times .date {
    white-space: nowrap;
}

.panel-heading .btn-group {
    margin: -2px 1px 0 1px;
}

.col-form-4, .col-form-8 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-form-4 {
    width: 33.333333333%;
}
.col-form-8 {
    width: 66.666666667%;
}
.col-form-offset-4 {
    margin-left: 33.333333333%;
}

.index.row-action-primary {
    float: left;
    margin-top: 6px;
    color: #777;
    min-width: 40px;
    text-align: right;
}
.list-group .list-group-item {
    padding: 0;
}
.list-group .list-group-item .row-action-primary,
.list-group .list-group-item .row-picture {
    padding-right: 8px;
}
.list-group-item-heading {
    margin-bottom: 0;
}
.list-group .list-group-item .row-content {
    min-height: 56px;
}
.list-group .list-group-item .row-content .action-secondary {
    top: 24px;
}
.list-group .list-group-separator {
    margin-top: 0;
}
.list-group .list-group-separator:before {
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
}

#stats .list-group-item {
    float: left;
    padding: 5px 10px;
    width: 33.333%;
}

/*
 * Material theme fixes
 */
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
.form-group {
    margin-top: 0;
}
.form-horizontal label {
    text-align: left;
}
.form-control,
.form-group .checkbox label,
.form-group .radio label,
.form-group label,
.form-group label.control-label {
    font-size: 14px;
}
select.form-control {
    margin-top: 7px;
}
.form-group label.control-label {
    margin: 12px 0 0 0;
}
.list-group .list-group-item .row-content .action-secondary~* {
    max-width: -webkit-calc(100%);
    max-width: calc(100%);
}
/** /Fixes */

.picker.picker-dialog {
    z-index: 9999;
}

#export-download,
#import-error {
    display: none;
}

#hint {
    display: none;
}

#footer {
    background-color: #eee;
    height: 60px;
    text-align: center;
}
#footer a {
    color: #0088cc;
}

@media (max-width: 1199px) {
    .navbar .navbar-brand {
        padding: 10px 15px 10px 30px;
    }
}
@media (min-width: 768px) {
    .navbar .navbar-brand {
        padding-left: 30px;
    }
    #times {
        max-height: 800px;
    }
    #stats .list-group-item {
        width: 25%;
    }
    #hint {
        display: block;
    }
    #footer {
        text-align: left;
    }
}
@media (max-width: 560px) {
    #stats .list-group-item {
        width: 50%;
    }
}
@media (max-width: 420px) {
    #timer {
        font-size: 84px;
    }
}
@media (max-width: 380px) {
    #timer {
        font-size: 72px;
    }
}
@media (max-width: 340px) {
    #timer {
        font-size: 64px;
    }
}
