@media only screen and (min-width: 993px) {
  nav .brand-logo {
    margin-left: 24px;
  }
}

@media (min-width: 768px) {
  /*
    .material nav .brand-logo {
        padding-left: 30px;
    }
    */
  #hint {
    display: block;
  }
}

@media (max-width: 1199px) {
  #ct-weekdays .ct-series .ct-bar {
    stroke-width: 30px;
  }
}

@media (max-width: 991px) {
  #ct-weekdays .ct-series .ct-bar {
    stroke-width: 40px;
  }
}

@media (max-width: 768px) {
  .material nav {
    background-color: #0d47a1;
    color: rgba(255, 255, 255, 0.84);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  #active-game>span, #results-button>span, #config-button>span {
    display: inline;
  }
  #stats-weekdays {
    display: block;
    position: initial;
  }
  #stats-categories {
    display: block;
  }
}

@media (max-width: 420px) {
  #timer-display {
    font-size: 84px;
  }
  .ct-major-twelfth::before {
    padding-bottom: 66.6666%;
  }
}

@media (max-width: 380px) {
  #timer-display {
    font-size: 72px;
  }
}

@media (max-width: 340px) {
  #timer-display {
    font-size: 64px;
  }
}
