@media only screen and (min-width: 993px) {
    .material nav {
        background-color: transparent !important;
        color: rgba(0,0,0,0.87);
        box-shadow: none;
    }
    .material nav .brand-logo,
    .material nav ul.main-nav a {
        color: rgba(0,0,0,0.87);
    }
}

@media (min-width: 768px) {
    .material nav .brand-logo {
        padding-left: 30px;
    }
    #hint {
        display: block;
    }
}
@media (max-width: 1199px) {
    #ct-weekdays .ct-series .ct-bar {
        stroke-width: 30px;
    }
}
@media (max-width: 991px) {
    #ct-weekdays .ct-series .ct-bar {
        stroke-width: 40px;
    }
}
@media (max-width: 768px) {
    .material nav {
        background-color: #3F51B5;
        color: rgba(255,255,255,0.84);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }
    #active-game > span,
    #results-button > span,
    #config-button > span {
        display: inline;
    }
    #stats-weekdays {
        display: block;
        position: initial;
    }
    #stats-categories {
        display: block;
    }
}
@media (max-width: 420px) {
    #timer {
        font-size: 84px;
    }
}
@media (max-width: 380px) {
    #timer {
        font-size: 72px;
    }
}
@media (max-width: 340px) {
    #timer {
        font-size: 64px;
    }
}
